<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" <script src="/js/app.js">
    <title>About</title>
    <link rel="icon" href='/img/logo2.jpg'>
</head>

<body>
    <div class = "main_info">
        {{>header}}
        <img class="portrait" src="/img/aboutPic.jpg">
    </div>
    {{>footer}}
</body>

</html>